BODY, HTML {
	margin:0;
	padding:0;
	width : calc(100% - 1px);
	height:	calc(100% - 11px);
	background-color: rgb(236, 236, 236);
	font-family: RobotoLight, Arial, sans-serif;
}
a:visited {
	color:black;
}
#menu-bar {
	width: auto;
	height: 56px;
	margin: 0 15% auto 15%;
	padding:2px;
	overflow:hidden;
	background: rgb(236, 236, 236);
}
#menu-list {
	padding:0;
	margin: 0;
}
#menu-list>li {
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: text-bottom;
	line-height: 56px;
	display: block;
	float: right;
	list-style-type: none;
	list-style-position: inside;
}
#menu-list>li>a {
	text-decoration: none;
	height: 56px;
	display: inline-block;
	box-sizing: border-box;
	border-color:#33b5e5;
}
#menu-list>li#logo {
	background-image: url('../img/logo.png');
	width: 213px;
	height: 56px;
	background-repeat: no-repeat;
	display: list-item;
	background-size:213px 56px;
	margin-left:5px;
	float: left;
}
#menu-list>li>a:hover {
	border-bottom:5px solid #33b5e5;
	transition: all 500ms ease;
}
#content {
	background-color: #ECECEC;
	width: 70%;
	margin: 0 auto;
	margin-top: -2px;
	border-top: 1px solid #ccc;
	height: calc(100% - 63px);
	overflow-y: scroll;
}
#footer {
	margin-bottom: 0;
	width: 70%;
	bottom:0;
	margin: 0 15% 0 15%;
	border-top: 1px solid #ccc;
	height:23px;
	font-size: 80%;
	color: #777;
	line-height: 23px;
}
#footer>#copyright {
	float: right;
}
#footer>span.icon {
	background-size: 20px 20px;
	height: 20px;
	background-repeat: no-repeat;
	display: inline-block;
	width: 20px;
	margin-top: 2px;
	opacity: 0.8;
}
#footer>#cc_icon {
	background-image: url('../img/chooser_cc.png');
}
#footer>#by_icon {
	background-image: url('../img/chooser_by.png');
}
#footer>#nc_icon {
	background-image: url('../img/chooser_nc.png');
}
#footer>#sa_icon {
	background-image: url('../img/chooser_sa.png');
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #ccc;
 
}
::-webkit-scrollbar-thumb {
    background: #33b5e5;  
}