BODY, HTML {
	margin:0;
	padding:0;
	width : calc(100% - 1px);
	height:	calc(100% - 11px);
	background-color: rgb(236, 236, 236);
	font-family: RobotoLight, Arial, sans-serif;
}
a {
	color: #333;
	/*font-weight: bold;*/
	text-decoration: none;
}
a:hover {
	color: #333;
	font-weight: none;
	text-decoration: underline;
}
a:visited {
	color:#333;
	text-decoration: underline;
}
#nav {
	width: auto;
	height: 56px;
	margin: 0 15% auto 15%;
	padding:2px;
	overflow:hidden;
	background: rgb(236, 236, 236);
}
#nav>ul {
	padding:0;
	margin: 0;
}
#nav>ul>li {
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: text-bottom;
	line-height: 56px;
	display: block;
	float: right;
	list-style-type: none;
	list-style-position: inside;
}
#nav>ul>li>a {
	text-decoration: none;
	height: 56px;
	display: inline-block;
	box-sizing: border-box;
	border-color:#33b5e5;
}
#nav>ul>li:first-child {
	background-image: url('../img/logo.png');
	width: 213px;
	height: 56px;
	background-repeat: no-repeat;
	display: list-item;
	background-size:213px 56px;
	margin-left:5px;
	float: left;
}
#nav>ul>li.active>a {
	border-bottom: 3px solid #33b5e5;
}
#nav>ul>li>a:hover {
	border-bottom: 3px solid #33b5e5;
	transition: all 500ms ease;
}
#nav>ul>li>a {
	color: #000;
}
#content {
	background-color: #ECECEC;
	width: 70%;
	margin: 0 auto;
	margin-top: -2px;
	border-top: 1px solid #ccc;
	height: calc(100% - 63px);
	overflow-y: scroll;
}
#wrapper>*>p {
	color: #333;
	letter-spacing: 0.25px;
	line-height: 1.5;
}
#wrapper>*>p>a {
	color: #33b5e5;
	font-style: italic;
}
#wrapper>section>ul>li>a {
	color: #33b5e5;
	font-weight: none;
}
#wrapper>*>*>h1 {
	color: #555;
	letter-spacing: 1.4px;
	line-height: 1.5;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 160%;
	text-decoration: none;
}
#wrapper>section>a:first-child {
	text-decoration: none;
}
#wrapper {
	width: 70%;

	margin: 0 15% 0 15%;
}
section {
	margin: 0 0 100px 0;
}
section:last-of-type {
	margin: 0 0 39% 0;
}
section:last-of-type>div {
	background-size: 617px 545px;
	height: 545px;
	background-repeat: no-repeat;
	width: 617px;
	margin: 0 auto;
	background-image: url('../img/stats.png');
}
#footer {
	margin-bottom: 0;
	width: 70%;
	bottom:0;
	margin: 0 15% 0 15%;
	border-top: 1px solid #ccc;
	height:23px;
	font-size: 80%;
	color: #777;
	line-height: 23px;
}
#footer>span {
	float: right;
}
#footer>a>span {
	background-size: 20px 20px;
	height: 20px;
	background-repeat: no-repeat;
	display: inline-block;
	width: 20px;
	margin-top: 2px;
	opacity: 0.8;
}
#footer>a>span:nth-child(1){
	background-image: url('../img/chooser_cc.png');
}
#footer>a>span:nth-child(2) {
	background-image: url('../img/chooser_by.png');
}
#footer>a>span:nth-child(3) {
	background-image: url('../img/chooser_nc.png');
}
#footer>a>span:nth-child(4) {
	background-image: url('../img/chooser_sa.png');
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #ccc;
 
}
::-webkit-scrollbar-thumb {
    background: #33b5e5;  
}
